<!DOCTYPE html>
<html>
  <head>
    <title>Manage User</title>
    <link rel="stylesheet" type="text/css" href="manageContributions.css" />
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../manageAccount/manageAccount.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li class="dropdown">
            <a href="../manageAccount/manageAccount.html" class="dropbtn"
              >Manage Account</a
            >
            <div class="dropdown-content">
              <a href="../manageAccount/manageAccount.html ">Manage Account</a>
              <a href="#">Manage </a>
              <a href="../manageContributions/manageContributions.html"
                >Manage Contributions</a
              >
              <a href="../manageCategory/manageCatory.html"> Manage Category</a>
              <a href="../manageUser/manageUser.html"></a>
            </div>
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>
    <div class="manage-accounts-container">
      <h1>Manage User</h1>

      <table id="account-form">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Account 1</td>
            <td>John Doe</td>
            <td>john@example.com</td>
            <td>2024/03/26</td>
            <td>Active</td>
            <td><button>Edit</button><button>Delete</button></td>
          </tr>
          <tr>
            <td>Account 2</td>
            <td>Jane Doe</td>
            <td>jane@example.com</td>
            <td>2024/03/27</td>
            <td>Inactive</td>
            <td><button>Edit</button><button>Delete</button></td>
          </tr>
          <tr>
            <td>Account 3</td>
            <td>Contributor 3</td>
            <td>contributor3@example.com</td>
            <td>2024/03/28</td>
            <td>Active</td>
            <td><button>Edit</button><button>Delete</button></td>
          </tr>
          <!-- Add other account rows as necessary -->
        </tbody>
      </table>
    </div>
    <script src="./manageUser.js"></script>
  </body>
</html>
