body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Container for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu when hovering over dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #main {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 20%;
    margin-right: 20%;
}
#accountType{
    width: 100%;
}

#toggleButton {
    font-size: 30px;
    cursor: pointer;
}

select,
input[type="text"],
input[type="password"] {
    padding: 8px;
    margin: 10px 0;
    width: calc(100% - 16px); /* Adjusted width to account for padding */
}

div.input-box {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

.checkbox-input {
    display: block;
    margin: 10px 0;
}