<!DOCTYPE html>
<html>
  <head>
    <title>Manage Contributions</title>
    <link rel="stylesheet" type="text/css" href="manageContributions.css" />
    <script src="manageContributions.js"></script>
    <link rel="stylesheet" href="../home/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li>
            <a href="../manageContributions/manageContributions.html"
              >Manage Contributions</a
            >
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <div class="manage-contributions-container">
      <h1>Manage Contributions</h1>

      <table id="contributions-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Contributor</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Contributions will be dynamically populated here -->
        </tbody>
      </table>
    </div>
  </body>
</html>
