body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.manage-contributions-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

#contribute-form {
    width: 100%;
    border-collapse: collapse;
}

#contribute-form thead {
    background-color: #007bff;
    color: white;
}

#contribute-form thead th {
    padding: 10px;
}

#contribute-form tbody {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

#contribute-form tbody tr {
    border-bottom: 1px solid #ccc;
}

#contribute-form tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contribute-form tbody tr:hover {
    background-color: #ddd;
}

#contribute-form tbody th, td {
    text-align: left;
    padding: 8px;
}

#contribute-form tbody td {
    text-align: center;
}