<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../dashboard/dashboard.css" />
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../dashboard/dashboard.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li>
            <a href="../manageContributions/manageContributions.html"
              >Manage Contributions</a
            >
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <div class="dashboard-container">
      <h1>Events</h1>

      <table id="submission-events-table">
        <thead>
          <tr>
            <th>Event Title</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Submission Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nộp bài 1</td>
            <td>Đây là mô tả sự kiện nộp bài 1</td>
            <td>Giáo viên A</td>
            <td>2024/03/26</td>
            <td>Chưa kiểm duyệt</td>
          </tr>
          <tr>
            <td>Nộp bài 2</td>
            <td>Đây là mô tả sự kiện nộp bài 2</td>
            <td>Giáo viên B</td>
            <td>2024/03/27</td>
            <td>Đã kiểm duyệt</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="./dashboard.js"></script>
  </body>
</html>
