body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.manage-contributions-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

#contribute-form {
    width: 100%;
    border-collapse: collapse;
}

#contribute-form thead {
    background-color: #007bff;
    color: white;
}

#contribute-form thead th {
    padding: 10px;
}

#contribute-form tbody {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

#contribute-form tbody tr {
    border-bottom: 1px solid #ccc;
}

#contribute-form tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contribute-form tbody tr:hover {
    background-color: #ddd;
}

#contribute-form tbody th, td {
    text-align: left;
    padding: 8px;
}

#contribute-form tbody td {
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Container for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu when hovering over dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  