<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../home/home.css" />
    <script src="../home/home.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li><a href="../liveChat/liveChat.html">Live Chat</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h2>Welcome to Home Page</h2>
      <p>This is the home page of our web application.</p>
      <p>Feel free to explore other pages using the navigation menu above.</p>
    </div>
  </body>
</html>
