<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../home/home.css" />
    <script src="../manageEvent/manageEvent.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li class="dropdown">
            <a
              href="../manageContributions/manageContributions.html"
              class="dropbtn"
              >Manage Contributions</a
            >
            <div class="dropdown-content">
              <a href="../manageUser/manageUser.html ">Manage User</a>
              <a href="#">Manage </a>
              <a href="../manageCategory/manageCatory.html">Manage Catory</a>
              <a href="../manageAccount/manageAccount.html">Manage Account</a>
              <a href="../manageEvent/manageEvent.html"> Manage Event</a>
            </div>
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2>Event</h2>
        <div class="input-container">
          <label for="search-course">Tìm kiếm event:</label>
          <input
            type="search"
            id="search-course"
            name="course"
            placeholder="Nhập tên event..."
          />
        </div>
        <!-- Tiếng Anh cơ bản -->
        <div class="course">
          <h3>Tiếng Anh cơ bản</h3>
          <p>Khóa học giúp bạn nắm bắt cơ bản về tiếng Anh.</p>

          <p class="deadline">Deadline: <span>30-04-2024</span></p>

          <div class="commentSection">
            <textarea
              id="commentInput1"
              class="commentInput"
              placeholder="Thêm bình luận công khai..."
            ></textarea>
            <input type="file" id="fileInput1" class="fileInput" multiple />
            <button onclick="postComment(1)">Gửi Bình Luận</button>
            <div id="commentList1" class="commentList"></div>
          </div>
        </div>

        <!-- Lập trình Python -->
        <div class="course">
          <h3>Lập trình Python</h3>
          <p>Học lập trình Python từ cơ bản đến nâng cao.</p>

          <p class="deadline">Deadline: <span>15-04-2024</span></p>

          <div class="commentSection">
            <textarea
              id="commentInput2"
              class="commentInput2"
              placeholder="Thêm bình luận công khai..."
            ></textarea>
            <input type="file" id="fileInput2" class="fileInput" multiple />
            <button onclick="postComment(2)">Gửi Bình Luận</button>
            <div id="commentList2" class="commentList"></div>
          </div>
        </div>
        ------------------------------------------
        <div id="eventForm">
          <h2 id="name">${name}</h2>
          <p id="description"></p>
          <p id="firstClosureDate"></p>
          <p id="finalClosureDate"></p>
        </div>
        <script src="../home/home.js"></script>
      </section>
    </main>
    <footer>Greenwich | © 2024</footer>
  </body>
</html>
