<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Account</title>
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../manageAccount/manageAccount.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li class="dropdown">
            <a
              href="../manageContributions/manageContributions.html"
              class="dropbtn"
              >Manage User</a
            >
            <div class="dropdown-content">
              <a href="../manageContributions/manageContributions.html "
                >Manage Contributions</a
              >
              <a href="#">Manage </a>
              <a href="../manageCategory/manageCatory.html">Manage Catory</a>
            </div>
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>
    <div id="main">
      <div class="input-box">
        <label for="accountType">Loại tài khoản:</label>
        <select id="accountType">
          <option value="admin">admin</option>
          <option value="guest">guest</option>
          <option value="head">trưởng ban</option>
          <option value="marketing">marketing</option>
        </select>
      </div>
      <div class="input-box">
        <label for="gender">Giới tính:</label
        ><select id="gender">
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
          <option value="other">Khác</option>
        </select>
      </div>
      <div class="input-box">
        <label for="accountName">Tên tài khoản:</label>
        <input type="text" id="accountName" name="accountName" />
      </div>

      <div class="input-box">
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" />
      </div>

      <div class="input-box">
        <label for="re-password">Nhập lại mật khẩu:</label>
        <input type="password" id="re-password" name="re-password" />
      </div>

      <div class="input-box">
        <label>Quyền hạn:</label>
        <div class="checkbox-input">
          <input type="checkbox" id="quanlyuser" name="quanlyuser" /><label
            for="quanlyuser"
            >Quản lý user</label
          >
        </div>
        <div class="checkbox-input">
          <input
            type="checkbox"
            id="quanlybaiviet"
            name="quanlybaiviet"
          /><label for="quanlybaiviet">Quản lý bài viết</label>
        </div>
        <div class="checkbox-input">
          <input
            type="checkbox"
            id="quanlytaikhoan"
            name="quanlytaikhoan"
          /><label for="quanlytaikhoan">Quản lý tài khoản</label>
        </div>
        <div>
          <button>SAVE</button>
        </div>
      </div>
    </div>
    <script src="./manageUser.js"></script>
  </body>
</html>
