<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Chat Page</title>
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../liveChat/liveChat.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li><a href="../liveChat/liveChat.html">Live Chat</a></li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login/login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h2>Live Chat</h2>
      <div id="chat_box"></div>

      <input id="chat_input" type="text" placeholder="Enter message" />
      <button onclick="send()">Send</button>

      <input type="file" id="fileUpload" accept="image/*, .doc, .docx" />
      <button onclick="upload()">Upload</button>

      <script src="liveChat.js"></script>
    </div>
  </body>
</html>
