<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Event</title>
    <link rel="stylesheet" href="../home/home.css" />
    <link rel="stylesheet" href="../manageEvent/manageEvent.css" />
    <script src="../manageEvent/manageEvent.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard/dashboard.html">Dashboard</a></li>
          <li>
            <a href="../contributions/contributions.html">Contributions</a>
          </li>
          <li class="dropdown">
            <a
              href="../manageContributions/manageContributions.html"
              class="dropbtn"
              >Manage Contributions</a
            >
            <div class="dropdown-content">
              <a href="../manageUser/manageUser.html ">Manage User</a>
              <a href="#">Manage </a>
              <a href="../manageCategory/manageCatory.html">Manage Catory</a>
              <a href="../manageAccount/manageAccount.html">Manage Account</a>
            </div>
          </li>
          <li><a href="../contact/contact.html">Contact</a></li>
          <li id="loginListItem"><a href="../login">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <button id="add-event-button">Add Event</button>
        <div id="event-list"></div>
      </div>
    </main>

    <div id="add-event-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add New Event</h2>
        <form id="add-event-form">
          <label for="event-name">Name:</label>
          <input type="text" id="event-name" required />
          <label for="event-description">Description:</label>
          <textarea id="event-description" required></textarea>
          <label for="event-date">Date:</label>
          <input type="date" id="event-date" required />
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <footer>Greenwich | © 2024</footer>
    <script src="./manageEvent.js"></script>
  </body>
</html>
